In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\CHINMAYA\Downloads\amazon_reviews.csv")

In [3]:
df

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4,No issues.,23-07-2014,138,0,0,0,0,0.0,0.0
1,1,0mie,5,"Purchased this for my device, it worked as adv...",25-10-2013,409,0,0,0,0,0.0,0.0
2,2,1K3,4,it works as expected. I should have sprung for...,23-12-2012,715,0,0,0,0,0.0,0.0
3,3,1m2,5,This think has worked out great.Had a diff. br...,21-11-2013,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5,"Bought it with Retail Packaging, arrived legit...",13-07-2013,513,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4909,4910,"ZM ""J""",1,I bought this Sandisk 16GB Class 10 to use wit...,23-07-2013,503,0,0,0,0,0.0,0.0
4910,4911,Zo,5,Used this for extending the capabilities of my...,22-08-2013,473,0,0,0,0,0.0,0.0
4911,4912,Z S Liske,5,Great card that is very fast and reliable. It ...,31-03-2014,252,0,0,0,0,0.0,0.0
4912,4913,Z Taylor,5,Good amount of space for the stuff I want to d...,16-09-2013,448,0,0,0,0,0.0,0.0
4913,4914,Zza,5,I've heard bad things about this 64gb Micro SD...,01-02-2014,310,0,0,0,0,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4914 entries, 0 to 4913
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            4914 non-null   int64
 1   reviewerName          4913 non-null   object
 2   overall               4914 non-null   int64
 3   reviewText            4914 non-null   object
 4   reviewTime            4914 non-null   object
 5   day_diff              4914 non-null   int64
 6   helpful_yes           4914 non-null   int64
 7   helpful_no            4914 non-null   int64
 8   total_vote            4914 non-null   int64
 9   score_pos_neg_diff    4914 non-null   int64
 10  score_average_rating  4914 non-null   float64
 11  wilson_lower_bound    4914 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 460.8+ KB

In [5]:
#Removing punctuations

puncs="!”#$%&'()*+,-./:;?@[\]^_`{|}~"
for i in df["reviewText"]:
    newstr=""
    for j in i:
        if j in puncs:
            newstr+=""
        else:
            newstr+=j
    df.loc[df['reviewText']==i,'reviewText']=newstr

In [6]:
df

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4,No issues,23-07-2014,138,0,0,0,0,0.0,0.0
1,1,0mie,5,Purchased this for my device it worked as adve...,25-10-2013,409,0,0,0,0,0.0,0.0
2,2,1K3,4,it works as expected I should have sprung for ...,23-12-2012,715,0,0,0,0,0.0,0.0
3,3,1m2,5,This think has worked out greatHad a diff bran...,21-11-2013,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5,Bought it with Retail Packaging arrived legit ...,13-07-2013,513,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4909,4910,"ZM ""J""",1,I bought this Sandisk 16GB Class 10 to use wit...,23-07-2013,503,0,0,0,0,0.0,0.0
4910,4911,Zo,5,Used this for extending the capabilities of my...,22-08-2013,473,0,0,0,0,0.0,0.0
4911,4912,Z S Liske,5,Great card that is very fast and reliable It c...,31-03-2014,252,0,0,0,0,0.0,0.0
4912,4913,Z Taylor,5,Good amount of space for the stuff I want to d...,16-09-2013,448,0,0,0,0,0.0,0.0
4913,4914,Zza,5,Ive heard bad things about this 64gb Micro SD ...,01-02-2014,310,0,0,0,0,0.0,0.0

In [7]:
#Converting to lowercase

for i in df["reviewText"]:
    df.loc[df['reviewText']==i,'reviewText']=i.lower()

In [8]:
df

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4,no issues,23-07-2014,138,0,0,0,0,0.0,0.0
1,1,0mie,5,purchased this for my device it worked as adve...,25-10-2013,409,0,0,0,0,0.0,0.0
2,2,1K3,4,it works as expected i should have sprung for ...,23-12-2012,715,0,0,0,0,0.0,0.0
3,3,1m2,5,this think has worked out greathad a diff bran...,21-11-2013,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5,bought it with retail packaging arrived legit ...,13-07-2013,513,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4909,4910,"ZM ""J""",1,i bought this sandisk 16gb class 10 to use wit...,23-07-2013,503,0,0,0,0,0.0,0.0
4910,4911,Zo,5,used this for extending the capabilities of my...,22-08-2013,473,0,0,0,0,0.0,0.0
4911,4912,Z S Liske,5,great card that is very fast and reliable it c...,31-03-2014,252,0,0,0,0,0.0,0.0
4912,4913,Z Taylor,5,good amount of space for the stuff i want to d...,16-09-2013,448,0,0,0,0,0.0,0.0
4913,4914,Zza,5,ive heard bad things about this 64gb micro sd ...,01-02-2014,310,0,0,0,0,0.0,0.0

In [9]:
#Tokenization

def tokenize(a):
    lst=a.split()
    return lst

df["reviewText"]=df["reviewText"].apply(lambda x: tokenize(x))

In [10]:
df

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4,"[no, issues]",23-07-2014,138,0,0,0,0,0.0,0.0
1,1,0mie,5,"[purchased, this, for, my, device, it, worked,...",25-10-2013,409,0,0,0,0,0.0,0.0
2,2,1K3,4,"[it, works, as, expected, i, should, have, spr...",23-12-2012,715,0,0,0,0,0.0,0.0
3,3,1m2,5,"[this, think, has, worked, out, greathad, a, d...",21-11-2013,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5,"[bought, it, with, retail, packaging, arrived,...",13-07-2013,513,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4909,4910,"ZM ""J""",1,"[i, bought, this, sandisk, 16gb, class, 10, to...",23-07-2013,503,0,0,0,0,0.0,0.0
4910,4911,Zo,5,"[used, this, for, extending, the, capabilities...",22-08-2013,473,0,0,0,0,0.0,0.0
4911,4912,Z S Liske,5,"[great, card, that, is, very, fast, and, relia...",31-03-2014,252,0,0,0,0,0.0,0.0
4912,4913,Z Taylor,5,"[good, amount, of, space, for, the, stuff, i, ...",16-09-2013,448,0,0,0,0,0.0,0.0
4913,4914,Zza,5,"[ive, heard, bad, things, about, this, 64gb, m...",01-02-2014,310,0,0,0,0,0.0,0.0

In [11]:
#Removing garbage words

import nltk
nltk.download('stopwords')

garbagewords = nltk.corpus.stopwords.words('english')
type(garbagewords)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\CHINMAYA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

list

In [12]:
def removegw(l):
    lst=list(set(l)-set(garbagewords))
    return lst

df["reviewText"]=df["reviewText"].apply(lambda x: removegw(x))

In [13]:
df

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4,[issues],23-07-2014,138,0,0,0,0,0.0,0.0
1,1,0mie,5,"[much, device, stuff, never, since, purchased,...",25-10-2013,409,0,0,0,0,0.0,0.0
2,2,1K3,4,"[paint, looks, bit, expected, higher, capacity...",23-12-2012,715,0,0,0,0,0.0,0.0
3,3,1m2,5,"[went, s3, card, one, diff, 3, 32114ive, bran,...",21-11-2013,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5,"[sv, price, legit, best, arrived, asian, card,...",13-07-2013,513,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4909,4910,"ZM ""J""",1,"[inspire, class, constant, card, today, sd, 3,...",23-07-2013,503,0,0,0,0,0.0,0.0
4910,4911,Zo,5,"[use, get, galaxy, used, greatly, note, instal...",22-08-2013,473,0,0,0,0,0.0,0.0
4911,4912,Z S Liske,5,"[optional, great, class, small, card, sd, slot...",31-03-2014,252,0,0,0,0,0.0,0.0
4912,4913,Z Taylor,5,"[gopro, want, stuff, fits, say, space, good, a...",16-09-2013,448,0,0,0,0,0.0,0.0
4913,4914,Zza,5,"[micro, price, transfer, card, ive, like, sd, ...",01-02-2014,310,0,0,0,0,0.0,0.0

In [14]:
#Lemmatization - reducing the words to their base form without losing the meaning

Lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmating(a):
    newa=[]
    for i in a:
        newa.append(Lemmatizer.lemmatize(i))
    return newa

df['reviewText']=df['reviewText'].apply(lambda x: lemmating(x))

In [15]:
df

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4,[issue],23-07-2014,138,0,0,0,0,0.0,0.0
1,1,0mie,5,"[much, device, stuff, never, since, purchased,...",25-10-2013,409,0,0,0,0,0.0,0.0
2,2,1K3,4,"[paint, look, bit, expected, higher, capacity,...",23-12-2012,715,0,0,0,0,0.0,0.0
3,3,1m2,5,"[went, s3, card, one, diff, 3, 32114ive, bran,...",21-11-2013,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5,"[sv, price, legit, best, arrived, asian, card,...",13-07-2013,513,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4909,4910,"ZM ""J""",1,"[inspire, class, constant, card, today, sd, 3,...",23-07-2013,503,0,0,0,0,0.0,0.0
4910,4911,Zo,5,"[use, get, galaxy, used, greatly, note, instal...",22-08-2013,473,0,0,0,0,0.0,0.0
4911,4912,Z S Liske,5,"[optional, great, class, small, card, sd, slot...",31-03-2014,252,0,0,0,0,0.0,0.0
4912,4913,Z Taylor,5,"[gopro, want, stuff, fit, say, space, good, am...",16-09-2013,448,0,0,0,0,0.0,0.0
4913,4914,Zza,5,"[micro, price, transfer, card, ive, like, sd, ...",01-02-2014,310,0,0,0,0,0.0,0.0

In [16]:
#Embedding and padding

s=0
for i in df["reviewText"]:
    if len(i)>s:
        s=len(i)
s

434

In [17]:
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences

WARNING:tensorflow:From C:\Users\CHINMAYA\AppData\Roaming\Python\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [18]:
tokenizer = Tokenizer(num_words=500, split=' ')
X = tokenizer.fit_on_texts(df['reviewText'].values)
X = tokenizer.texts_to_sequences(df['reviewText'].values)

In [19]:
X = pad_sequences(X)

In [20]:
X

array([[  0,   0,   0, ...,   0,   0,  24],
       [  0,   0,   0, ...,  37, 393,   3],
       [  0,   0,   0, ...,   2, 245, 140],
       ...,
       [  0,   0,   0, ..., 356,  45,  34],
       [  0,   0,   0, ...,  41,  13, 265],
       [  0,   0,   0, ...,  17,  41,  71]])

In [21]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,df["overall"],test_size=0.30)

model1=MLPClassifier(hidden_layer_sizes=(500,500,500),activation='relu',solver='adam',max_iter=100)
model1.fit(X_train,y_train)

predict_train=model1.predict(X_train)
predict_test=model1.predict(X_test)

In [22]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

[[   2    1    1    6   58]
 [   1    0    1    6   18]
 [   0    0    1    3   38]
 [   5    1    2    7  144]
 [  21    7    8   72 1072]]
              precision    recall  f1-score   support

           1       0.07      0.03      0.04        68
           2       0.00      0.00      0.00        26
           3       0.08      0.02      0.04        42
           4       0.07      0.04      0.06       159
           5       0.81      0.91      0.85      1180

    accuracy                           0.73      1475
   macro avg       0.21      0.20      0.20      1475
weighted avg       0.66      0.73      0.69      1475

In [23]:
from sklearn.naive_bayes import MultinomialNB
model2 = MultinomialNB()
model2.fit(X_train,y_train)

predict_train=model2.predict(X_train)
predict_test=model2.predict(X_test)

In [24]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

[[  21    4   13    0   30]
 [   8    2    3    0   13]
 [  12    1    4    0   25]
 [  16    1   13    1  128]
 [  80    4   55    6 1035]]
              precision    recall  f1-score   support

           1       0.15      0.31      0.20        68
           2       0.17      0.08      0.11        26
           3       0.05      0.10      0.06        42
           4       0.14      0.01      0.01       159
           5       0.84      0.88      0.86      1180

    accuracy                           0.72      1475
   macro avg       0.27      0.27      0.25      1475
weighted avg       0.70      0.72      0.70      1475

In [25]:
import pickle

pkl_filename = "NBmodel.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(model2, file)

with open(pkl_filename, 'rb') as file:
    pickle_model = pickle.load(file)
    
score = pickle_model.score(X_test, y_test)
print("Test score: {0:.2f} %".format(100 * score))
Y_predict = pickle_model.predict(X_test)

Test score: 72.07 %

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split

In [27]:
model3 =RandomForestClassifier()
model3.fit(X_train,y_train)

predict_train=model3.predict(X_train)
predict_test=model3.predict(X_test)

In [28]:
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

[[   1    0    0    0   67]
 [   1    0    0    0   25]
 [   0    0    0    0   42]
 [   0    0    0    1  158]
 [   0    0    0    4 1176]]
              precision    recall  f1-score   support

           1       0.50      0.01      0.03        68
           2       0.00      0.00      0.00        26
           3       0.00      0.00      0.00        42
           4       0.20      0.01      0.01       159
           5       0.80      1.00      0.89      1180

    accuracy                           0.80      1475
   macro avg       0.30      0.20      0.19      1475
weighted avg       0.69      0.80      0.71      1475

C:\Users\CHINMAYA\AppData\Roaming\Python\Python311\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\CHINMAYA\AppData\Roaming\Python\Python311\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\CHINMAYA\AppData\Roaming\Python\Python311\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [29]:
model3.save("RFmodel.h5")

AttributeError: 'RandomForestClassifier' object has no attribute 'save'

In [ ]:
from sklearn import svm
model4 = svm.SVC(kernel='linear')
model4.fit(X_train, y_train)

In [ ]:
predict_train=model4.predict(X_train)
predict_test=model4.predict(X_test)

In [ ]:
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))